acronym {
	border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
abbr {
	border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
.help {
	border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
.top_menu {
	background: rgb(224, 223, 255); color: rgb(32, 58, 83); font-size: 80%;
}
.top_menu a:visited {
	background: none; color: rgb(32, 58, 83);
}
.top_menu a:link {
	background: none; color: rgb(32, 58, 83);
}
.top_menu a:hover {
	background: none; color: rgb(100, 149, 237);
}
.top_img {
	background-position: left; font-size: 80%; background-image: url("http://wm-help.net/data/img/rrr.gif"); background-repeat: no-repeat;
}
h1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bolder;
}
h2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bolder;
}
h3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bolder;
}
h4 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bolder;
}
h2 {
	font-size: 15px; font-weight: bolder;
}
h3 {
	font-size: 15px; font-weight: bolder;
}
h4 {
	font-size: 13px;
}
table {
	color: rgb(35, 42, 75); font-family: Arial, Helvetica, sans-serif; font-size: 100%; border-collapse: collapse;
}
tr {
	color: rgb(35, 42, 75); font-family: Arial, Helvetica, sans-serif; font-size: 100%; border-collapse: collapse;
}
td {
	color: rgb(35, 42, 75); font-family: Arial, Helvetica, sans-serif; font-size: 100%; border-collapse: collapse;
}
th {
	color: rgb(35, 42, 75); font-family: Arial, Helvetica, sans-serif; font-size: 100%; border-collapse: collapse;
}
#hide {
	display: none;
}
.normal_h {
	margin: 1px; padding: 2px; font-family: Arial, Helvetica, sans-serif; font-size: 120%; font-weight: bolder; display: block;
}
hr {
	margin: 2px; width: 98%; border-top-color: rgb(219, 220, 236); border-bottom-color: rgb(186, 187, 211); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
table.my_table {
	border: 1px solid rgb(186, 187, 211); border-image: none;
}
table.my_table2 {
	border-right-color: rgb(186, 187, 211); border-left-color: rgb(186, 187, 211); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
td.my_td {
	border-left-color: rgb(186, 187, 211); border-left-width: 1px; border-left-style: solid;
}
td.shabl_td {
	border: 2px solid rgb(221, 228, 255); border-image: none;
}
td.book {
	border-right-color: rgb(186, 187, 211); border-right-width: 1px; border-right-style: solid;
}
th.article {
	border: 1px solid rgb(186, 187, 211); border-image: none; text-align: center; color: rgb(50, 57, 103); background-color: rgb(205, 205, 223);
}
td.article {
	border: 1px solid rgb(186, 187, 211); border-image: none;
}
table.article {
	padding: 1px; border: 1px solid rgb(186, 187, 211); border-image: none;
}
#autors {
	background: rgb(255, 250, 240); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(255, 230, 189) rgb(255, 230, 189) currentColor; border-image: none; width: 290px; display: block; border-collapse: collapse;
}
#autors2 {
	background: rgb(255, 250, 240); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(255, 230, 189) rgb(255, 230, 189) currentColor; border-image: none; width: 290px; display: block; border-collapse: collapse;
}
#autors2 {
	border: 1px solid rgb(255, 230, 189); border-image: none;
}
textarea {
	border-width: 1px; border-style: solid; border-color: rgb(159, 160, 194) rgb(128, 131, 174) rgb(128, 131, 174) rgb(159, 160, 194); margin: 1px; border-image: none; color: rgb(50, 57, 103); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 95%; background-color: rgb(249, 249, 253);
}
input {
	border-width: 1px; border-style: solid; border-color: rgb(159, 160, 194) rgb(128, 131, 174) rgb(128, 131, 174) rgb(159, 160, 194); margin: 1px; border-image: none; color: rgb(50, 57, 103); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 95%; background-color: rgb(249, 249, 253);
}
select {
	border-width: 1px; border-style: solid; border-color: rgb(159, 160, 194) rgb(128, 131, 174) rgb(128, 131, 174) rgb(159, 160, 194); margin: 1px; border-image: none; color: rgb(50, 57, 103); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 95%; background-color: rgb(249, 249, 253);
}
label {
	border-width: 1px; border-style: solid; border-color: rgb(159, 160, 194) rgb(128, 131, 174) rgb(128, 131, 174) rgb(159, 160, 194); margin: 1px; border-image: none; color: rgb(50, 57, 103); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 95%; background-color: rgb(249, 249, 253);
}
label {
	border: currentColor; border-image: none; width: 80%;
}
a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-style: normal; text-decoration: underline;
}
a:link {
	color: rgb(0, 118, 232);
}
a:visited {
	color: rgb(0, 65, 128);
}
a:active {
	color: gray;
}
a:hover {
	color: rgb(64, 68, 121); background-color: rgb(229, 236, 255);
}
body {
	margin: 0px; text-align: justify; font-family: Arial, Verdana, Geneva, Helvetica, sans-serif; font-size: 80%; -ms-scrollbar-face-color: rgb(205, 205, 223); -ms-scrollbar-3dlight-color: rgb(130, 130, 130); -ms-scrollbar-shadow-color: rgb(109, 120, 148); -ms-scrollbar-highlight-color: rgb(186, 187, 211); -ms-scrollbar-darkshadow-color: rgb(186, 187, 211); -ms-scrollbar-arrow-color: rgb(80, 89, 145); -ms-scrollbar-track-color: rgb(234, 236, 247); background-color: rgb(248, 248, 255);
}
#menu_a a {
	margin: 2px; padding: 1px 1px 1px 2px; border: 1px solid rgb(217, 218, 248); border-image: none; text-decoration: none; display: block; cursor: pointer; background-repeat: no-repeat;
}
#menu_a a:visited {
	border: 1px solid silver; border-image: none; background-color: rgb(244, 244, 251);
}
#menu_a a:active {
	border: 1px solid rgb(140, 141, 255); border-image: none; background-color: rgb(242, 249, 255);
}
#menu_a a:hover {
	border: 1px solid rgb(25, 25, 112); border-image: none; background-color: rgb(230, 230, 250);
}
#menu_gold_a a {
	margin: 2px; padding: 1px 1px 1px 2px; border: 1px solid rgb(250, 250, 210); border-image: none; text-decoration: none; display: block; cursor: pointer; background-repeat: no-repeat;
}
#menu_gold_a a:visited {
	border: 1px solid rgb(245, 223, 201); border-image: none; background-color: rgb(250, 240, 230);
}
#menu_gold_a a:active {
	border: 1px solid rgb(255, 228, 196); border-image: none; background-color: rgb(255, 255, 224);
}
#menu_gold_a a:hover {
	border: 1px solid rgb(255, 184, 64); border-image: none; background-color: rgb(255, 248, 220);
}
.MSDN_tips {
	border-width: 1px 3px; border-style: solid; border-color: rgb(255, 215, 0) rgb(255, 255, 244); margin: 2px 5px; padding: 5px; border-image: none; text-align: center; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: normal; display: block; background-color: rgb(255, 255, 240);
}
.code {
	padding: 1px; border: 1px solid rgb(100, 149, 237); border-image: none; font-family: Courier; font-weight: normal; display: block; border-collapse: collapse; background-color: rgb(242, 249, 255);
}
code {
	padding: 1px; border: 1px solid rgb(100, 149, 237); border-image: none; font-family: Courier; font-weight: normal; display: block; border-collapse: collapse; background-color: rgb(242, 249, 255);
}
#code {
	padding: 1px; border: 1px solid rgb(100, 149, 237); border-image: none; font-family: Courier; font-weight: normal; display: block; border-collapse: collapse; background-color: rgb(242, 249, 255);
}
.EXAMPLE {
	padding: 1px; border: 1px solid rgb(100, 149, 237); border-image: none; font-family: Courier; font-weight: normal; display: block; border-collapse: collapse; background-color: rgb(242, 249, 255);
}
primer {
	padding: 1px; border: 1px solid rgb(100, 149, 237); border-image: none; font-family: Courier; font-weight: normal; display: block; border-collapse: collapse; background-color: rgb(242, 249, 255);
}
.primer {
	padding: 1px; border: 1px solid rgb(100, 149, 237); border-image: none; font-family: Courier; font-weight: normal; display: block; border-collapse: collapse; background-color: rgb(242, 249, 255);
}
.table_head {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.table_head_nb {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.table_body {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.table_bottom {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.tabel_worng_head {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.tabel_worng_body {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.tabel_message_head {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.tabel_message_body {
	margin: 1px; padding: 1px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
.table_head {
	text-align: left; color: rgb(70, 71, 138); font-weight: bold; margin-bottom: 0px; border-top-color: rgb(186, 187, 218); border-right-color: rgb(186, 187, 218); border-left-color: rgb(186, 187, 218); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; background-color: rgb(235, 235, 246);
}
.table_head_nb {
	text-align: left; color: rgb(70, 71, 138); font-weight: bold; margin-bottom: 0px; border-top-color: rgb(186, 187, 218); border-right-color: rgb(186, 187, 218); border-left-color: rgb(186, 187, 218); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; background-color: rgb(235, 235, 246);
}
.table_head_left {
	text-align: left; color: rgb(70, 71, 138); font-weight: bold; margin-bottom: 0px; border-top-color: rgb(186, 187, 218); border-right-color: rgb(186, 187, 218); border-left-color: rgb(186, 187, 218); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; background-color: rgb(235, 235, 246);
}
.table_head {
	text-align: center; font-size: 1.2em;
}
.table_head h1 {
	margin: 1px; padding: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 120%;
}
.tabel_worng_head {
	color: rgb(98, 27, 27); font-weight: bold; margin-bottom: 0px; border-top-color: rgb(165, 42, 42); border-right-color: rgb(165, 42, 42); border-left-color: rgb(165, 42, 42); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 238, 238);
}
.tabel_worng_body {
	border: 1px solid rgb(165, 42, 42); border-image: none; color: maroon; margin-top: 0px; margin-bottom: 0px; background-color: rgb(252, 246, 246);
}
.tabel_message_head {
	border-width: 1px; border-style: solid solid none; border-color: rgb(255, 226, 191); margin: 1px 1px 0px; padding: 1px; border-image: none; text-align: center; color: rgb(79, 41, 12); font-size: 1em; font-weight: bold; background-color: rgb(253, 240, 217);
}
.tabel_message_head a {
	color: rgb(79, 41, 12); font-size: 1em; font-weight: bold; text-decoration: none;
}
.tabel_message_head a:hover {
	color: rgb(143, 74, 23); font-size: 1em; font-weight: bold; text-decoration: none;
}
.tabel_message_body {
	margin: 0px 1px 1px; padding: 1px; border: 1px solid rgb(255, 226, 191); border-image: none; color: rgb(79, 41, 12); font-size: 0.8em; background-color: rgb(254, 252, 248);
}
.tabel_message_body a {
	margin: 1px; padding: 1px; color: rgb(143, 74, 23); text-decoration: none;
}
.tabel_info_head {
	border-width: 1px; border-style: solid solid none; border-color: red; margin: 1px 1px 0px; padding: 1px; border-image: none; text-align: center; color: maroon; font-size: 0.9em; font-weight: bold; background-color: rgb(255, 208, 208);
}
.tabel_info_head a {
	color: maroon; text-decoration: none;
}
.tabel_info_head a:link {
	color: maroon; text-decoration: none;
}
.tabel_info_head a:visited {
	color: maroon; text-decoration: none;
}
.tabel_info_head a:hover {
	background: none; color: rgb(255, 69, 0); border-bottom-color: gray; border-bottom-width: 1px; border-bottom-style: dotted;
}
.tabel_info_body a:hover {
	background: none; color: rgb(255, 69, 0); border-bottom-color: gray; border-bottom-width: 1px; border-bottom-style: dotted;
}
.tabel_info_body {
	margin: 0px 1px 1px; padding: 1px; border: 1px solid red; border-image: none; color: maroon; font-size: 0.85em; background-color: rgb(255, 249, 251);
}
.tabel_info_body a {
	color: rgb(255, 69, 0); font-size: 0.85em; text-decoration: none;
}
.tabel_info_body a:visited {
	color: rgb(255, 69, 0); font-size: 0.85em; text-decoration: none;
}
.tabel_info_body a:link {
	color: rgb(255, 69, 0); font-size: 0.85em; text-decoration: none;
}
.tabel_info_body a:hover {
	background: none; border-bottom-color: gray; border-bottom-width: 1px; border-bottom-style: dotted;
}
.tabel_message_body a:hover {
	background: none; border-bottom-color: gray; border-bottom-width: 1px; border-bottom-style: dotted;
}
.tabel_message_head a:hover {
	background: none; border-bottom-color: gray; border-bottom-width: 1px; border-bottom-style: dotted;
}
.tabel_info_body hr {
	margin: 1px; padding: 0px; width: 98%; border-top-color: rgb(255, 234, 208); border-bottom-color: rgb(255, 191, 113); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.tabel_message_body hr {
	margin: 1px; padding: 0px; width: 98%; border-top-color: rgb(255, 234, 208); border-bottom-color: rgb(255, 191, 113); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.table_head_nb {
	font-weight: normal;
}
.table_body {
	border: 1px solid rgb(186, 187, 218); border-image: none; margin-top: 0px; margin-bottom: 0px; background-color: rgb(253, 253, 255);
}
.table_bottom {
	text-align: right; margin-top: 0px; border-right-color: rgb(186, 187, 218); border-bottom-color: rgb(186, 187, 218); border-left-color: rgb(186, 187, 218); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; background-color: rgb(235, 235, 246);
}
.Copyrigth {
	border-width: 1px 3px; border-style: solid; border-color: rgb(70, 130, 180) rgb(244, 247, 251); margin: 5px 10px; padding: 5px 10px; text-align: center; color: rgb(29, 35, 134); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; display: block; background-color: rgb(238, 243, 249);
}
.Mcenter {
	text-align: center; display: block;
}
.Partners {
	margin: 5px; padding: 5px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; border-top-color: rgb(255, 168, 21); border-bottom-color: rgb(255, 168, 21); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block; background-color: rgb(255, 252, 244);
}
#my_a a {
	background: rgb(253, 253, 255); margin: 2px; padding: 1px 2px; border: 1px solid rgb(178, 167, 243); border-image: none; text-decoration: none; display: block; cursor: pointer;
}
#my_a a:visited {
	background-color: rgb(243, 243, 243);
}
#my_a a:active {
	border: 1px solid rgb(66, 38, 234); border-image: none; background-color: rgb(217, 218, 248);
}
#my_a a:hover {
	border: 1px solid rgb(130, 112, 238); border-image: none; background-color: rgb(230, 230, 250);
}
#print_page a {
	border-width: 1px 2px; border-style: solid; border-color: rgb(255, 215, 0) rgb(255, 255, 244); margin: 1px 5px; width: 200px; text-align: center; padding-right: 5px; padding-left: 5px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block; background-color: rgb(255, 255, 240);
}
#print_page a:hover {
	border-color: rgb(255, 168, 21) rgb(255, 253, 221); color: rgb(110, 22, 22); border-right-width: 2px; border-left-width: 2px; border-right-style: solid; border-left-style: solid; background-color: rgb(255, 250, 205);
}
.search {
	margin: 1px; padding: 2px; border: 1px solid rgb(72, 61, 139); border-image: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 85%; font-weight: normal; display: block; background-color: rgb(233, 234, 243);
}
.panel_naw {
	margin: 1px; padding: 2px; border: 1px solid rgb(72, 61, 139); border-image: none; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 85%; font-weight: normal; display: block; background-color: rgb(233, 234, 243);
}
.panel_naw {
	border: 1px solid rgb(170, 111, 0); border-image: none; font-size: 95%; font-weight: normal; display: block; background-color: rgb(255, 236, 204);
}
#page_navig {
	margin: 2px; padding: 2px; border: 1px solid rgb(218, 165, 32); border-image: none; color: rgb(46, 34, 10); font-size: 100%; font-weight: normal; display: block; background-color: rgb(255, 250, 221);
}
#page_dop_navig {
	margin: 2px; padding: 2px; border: 1px solid rgb(218, 165, 32); border-image: none; color: rgb(46, 34, 10); font-size: 100%; font-weight: normal; display: block; background-color: rgb(255, 250, 221);
}
#page_dop_navig {
	width: 180px; text-align: center; background-color: rgb(255, 255, 224);
}
.panel_naw a {
	
}
@media screen
{
.counter {
	display: block;
}
}
@media print
{
.counter {
	display: none;
}
}
.btn {
	margin: 1px; border: currentColor; border-image: none;
}
.title {
	margin: 5px; padding: 0px 5px;
}
.small_title {
	margin: 5px; padding: 0px 5px;
}
.title {
	color: rgb(86, 94, 138); font-family: "Times New Roman", Times, serif; font-size: 22px; font-style: italic; font-weight: bold;
}
.small_title {
	color: rgb(54, 118, 233); font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: italic; font-weight: 700; display: block;
}
.WARNING {
	background: rgb(252, 247, 247); border: 2px solid rgb(200, 53, 53); border-image: none;
}
#title_a a {
	background: none; border: currentColor; border-image: none; width: 260px; text-decoration: none; display: block;
}
#separeat_hr {
	background: rgb(210, 105, 30); height: 2px; font-size: 0px; display: block;
}
#article_text {
	padding: 10px;
}
#my_a small {
	color: rgb(50, 57, 103); text-decoration: none;
}
#search_str {
	border-width: 1px medium; border-style: dashed none; border-color: rgb(242, 134, 0) currentColor; border-image: none; color: rgb(96, 53, 0); font-weight: bold; margin-right: 3px; display: inline; background-color: rgb(255, 246, 234);
}
.tips {
	background: rgb(255, 255, 240); border-width: 1px medium; border-style: solid none; border-color: rgb(242, 183, 43) currentColor; margin: 15px; padding: 5px; border-image: none; display: block;
}
#it {
	display: inline;
}
#p_i {
	background: rgb(255, 252, 244); border: 1px solid rgb(255, 219, 174); border-image: none; margin-bottom: 2px;
}
#p_i input {
	font: 0.85em/normal Arial, Helvetica, sans-serif; margin-right: 4px; font-size-adjust: none; font-stretch: normal;
}
#p_ii {
	font: 0.85em/normal Arial, Helvetica, sans-serif; padding: 5px; font-size-adjust: none; font-stretch: normal;
}
#ser table {
	margin: 5px; padding: 5px;
}
#ser td {
	background: rgb(241, 246, 249); padding: 5px; border: 1px solid rgb(130, 172, 208); border-image: none;
}
.red a {
	color: rgb(193, 0, 0); font-size: 18px;
}
#ad {
	text-align: center; font-size: 0.9em; display: block;
}
.ad_link {
	color: rgb(0, 87, 239); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 95%; font-weight: bold;
}
.ad_mag_link a {
	color: rgb(180, 180, 180); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 80%;
}
.ad_mag_link a:link {
	color: rgb(180, 180, 180); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 80%;
}
.ad_mag_link a:active {
	color: rgb(180, 180, 180); font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 80%;
}
.rndbxg b.trg {
	display: block;
}
.rndbxg b.brg {
	display: block;
}
.rndbxg b.trg * {
	border-width: 0px 1px; border-style: none solid; height: 1px; font-size: 0px !important; display: block; -ms-overflow-y: hidden;
}
.rndbxg b.brg * {
	border-width: 0px 1px; border-style: none solid; height: 1px; font-size: 0px !important; display: block; -ms-overflow-y: hidden;
}
.rndbxg b.trg b {
	margin: 0px 4px;
}
.rndbxg b.brg b {
	margin: 0px 4px;
}
.rndbxg b.trg i {
	margin: 0px 2px;
}
.rndbxg b.brg i {
	margin: 0px 2px;
}
.rndbxg b.trg u {
	margin: 0px 1px !important;
}
.rndbxg b.brg u {
	margin: 0px 1px !important;
}
.rndbxg .rndbxCg {
	border-width: 0px 1px; border-style: none solid; padding: 0px; overflow: hidden;
}
.rndbxg b.trg u {
	height: 2px;
}
.rndbxg b.brg u {
	height: 2px;
}
.rndbxg b.trg i {
	border-width: 0px 2px;
}
.rndbxg b.brg i {
	border-width: 0px 2px;
}
.rndbxg b.trg b {
	border-width: 0px;
}
.rndbxg b.brg b {
	border-width: 0px;
}
.wrndbxg b.trg b {
	background: rgb(186, 187, 218);
}
.wrndbxg b.brg b {
	background: rgb(186, 187, 218);
}
.wrndbxg b.trg i {
	background: rgb(255, 255, 255); border-color: rgb(186, 187, 218);
}
.wrndbxg b.brg i {
	background: rgb(255, 255, 255); border-color: rgb(186, 187, 218);
}
.wrndbxg b.trg u {
	background: rgb(255, 255, 255); border-color: rgb(186, 187, 218);
}
.wrndbxg b.brg u {
	background: rgb(255, 255, 255); border-color: rgb(186, 187, 218);
}
.wrndbxg .rndbxCg {
	background: rgb(255, 255, 255); border-color: rgb(186, 187, 218);
}
.grndbxg b.trg * {
	background: rgb(255, 166, 0) !important; border-color: rgb(186, 187, 218) !important;
}
.grndbxg b.brg * {
	background: rgb(255, 166, 0) !important; border-color: rgb(186, 187, 218) !important;
}
.grndbxg .rndbxCg {
	background: rgb(255, 166, 0) !important; border-color: rgb(186, 187, 218) !important;
}
.wrndbxg b.trg i {
	background: rgb(235, 235, 246);
}
.wrndbxg b.trg u {
	background: rgb(235, 235, 246);
}
.t_td {
	background: rgb(235, 235, 246); border-bottom-color: rgb(186, 187, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
.wrndbxg b.brg i {
	background: rgb(245, 245, 245);
}
.wrndbxg b.brg u {
	background: rgb(245, 245, 245);
}
.t_td_2 {
	background: rgb(235, 235, 246); text-align: right; padding-right: 4px; padding-left: 4px; font-size: 0.8em; border-top-color: rgb(186, 187, 218); border-top-width: 1px; border-top-style: solid;
}
.t_td_2 b {
	color: rgb(178, 34, 34); font-size: 1em;
}
.t_td_3 {
	background: rgb(253, 253, 255); padding: 2px; font-size: 0.75em;
}
.t_td_3 b {
	color: rgb(68, 111, 168); font-weight: bolder;
}
#begunRoot {
	display: block;
}
.begun {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; display: block;
}
a.begun:hover {
	background: none; color: rgb(0, 65, 128) !important;
}
#begunRoot a:hover {
	background: none; color: rgb(0, 65, 128) !important;
}
#begun li {
	background: url("http://wm-help.net/begun.gif") no-repeat right top; margin: 5px; padding: 5px; border: 1px dotted rgb(65, 105, 225); border-image: none; height: 100px; display: block; border-collapse: separate;
}
#cr_s {
	margin: 1px; padding: 10px 10px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 1.2em;
}
#content {
	padding: 5px; border: 1px solid rgb(228, 228, 228); border-image: none; display: block;
}
#content {
	font-size: 1.1em;
}
#dop_options {
	background: rgb(255, 255, 240); border-width: 1px medium; border-style: solid none; border-color: rgb(242, 183, 43) currentColor; margin: 5px; padding: 2px; border-image: none; font-size: 0.8em; display: block;
}
#dop_options {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}
#dop_options a {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}
#dop_options a:hover {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}
#dop_options a:hover {
	color: rgb(65, 105, 225);
}
#dop_options a:visited {
	color: rgb(65, 105, 225);
}
#tooltip {
	margin: 2px 2px 0px; padding: 4px; border: 1px solid rgb(34, 102, 153); border-image: none; text-align: center; color: rgb(255, 255, 255); font-weight: bolder; display: block; background-color: rgb(0, 153, 204);
}
#tooltip_body {
	margin: 2px 2px 0px; padding: 4px; border: 1px solid rgb(34, 102, 153); border-image: none; text-align: center; color: rgb(255, 255, 255); font-weight: bolder; display: block; background-color: rgb(0, 153, 204);
}
#tooltip_body {
	text-align: left; color: rgb(255, 255, 255); font-weight: normal; margin-top: 0px; border-top-color: currentColor; border-top-width: medium; border-top-style: none; background-color: rgb(113, 184, 255);
}
#tooltip_body hr {
	border-color: rgb(0, 102, 204);
}
#tooltip_body a:link {
	color: rgb(234, 234, 255);
}
#tooltip a:link {
	color: rgb(234, 234, 255);
}
